 main, .home__container, .subtitle__container, .title__container, .slogan__container,
.img__container{
    display: flex;
    font-family: "Roboto", system-ui;
}

a{
    color:#fff;
    text-decoration: none;
}

main{
    width: 100%;
}

.background-image {
    background-image: url('assets/img/home/img_home.png');
    background-size: cover;
    background-position: center;
}


@media (max-width: 768px){

    main{
        height: auto;
        gap:30px;
    }

}