body{
    padding: 0;
    margin: 0;
    background-color: #4817A4;
    /* color:#FFFFFF; */
    font-family: "Roboto", system-ui;
    text-decoration: none;
    list-style: none;
}

.text-portafolio{
  color: #FFF;
  font-family: "Roboto", system-ui;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.title-portafolio{
  color: #FFF;
  font-family: "Roboto", system-ui;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text{
  color: #4817A4;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title{
  color: #4817A4;
}

a {
  color: #4817A4;
  text-decoration: underline;
}

.card {
padding: 15px;
border-radius: 5px;
}	

/* .text-footer{
  color: #4817A4;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */


  .card-img-custom {
    width: 100%;
    padding: 10px; 
  }

  .bg-custom {
    background-color: #C29C9C;
  }

  .border-radius-custom{
    border-radius: 5px;
  }

  @media (max-width: 576px) {
    .col-6 {
      margin-bottom: 20px; /* Ajusta el margen inferior para las filas en dispositivos móviles */
    }

    .mobile-padding {
        padding: 40px; /* Agrega padding para dispositivos móviles */
      }
  }

  @media (max-width: 576px) {
    .col-sm-8 {
      flex: 0 0 45%; /* Ajusta el tamaño de las tarjetas en dispositivos móviles */
      max-width: 45%;
      margin-bottom: 20px; /* Agrega margen inferior para las filas en dispositivos móviles */
    }
  }


  /* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
  }

  .navbar a.active {
    color: #FE7132 !important;
  } */

  .pb-custom {
    padding-bottom: 1.8rem !important;
}

.px-custom {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

@media (max-width: 576px) {
  .px-custom {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .ml-custom{
    margin-left: 32px;
  }
}