
  .card-text-servicios{
    font-family: "Noto Serif", serif;
    font-size: 22px;
    color: #8A6B61;
}

  .card-title-servicios{
    font-family: "Noto Serif", serif;
    font-size: 25px;
    font-weight: bold;
}

/* MEDIA QUERIES SERVICIOS*/
@media screen and (max-width: 768px){
    .card-title-servicios{
        font-size: 20px;
    }
    .card-text-servicios{
        font-size: 18px;
    }
}